<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<div ng-controller="HomeController" class="centered">
    <div>
      <h2>Test drive a tweet</h2>
      <form ng-submit="sampleRequest()">
        <!-- Test drive a tweet!&nbsp -->
        <input type="text" ng-model="sampleTweetInput" placeholder="e.g., Enter sample sentence text here" required>
        <input type="Submit">
        <div ng-if="spinner2">
          <img ng-src="./img/spiffygif_46x46.gif">
        </div>
      </form>
    </div>
    <div class="analysis">
    <div class="tooltip">
      <h2>Tweet Analysis</h2>
      <div class="container">
      </div>
      <span class="tooltiptext">IBM Watson's Tone Analyzer uses linguistic analysis to detect three types of tones in written text: emotions, social tendencies and writing style</span> </div>
      <div ng-if="bootup">
          <h2 class="tonesB">Emotional tone: </h2><h3 class="tonesR">Joy, Fear, Sadness, Disgust, Anger</h3>
          <h2 class="tonesB">Language tone: </h2><h3 class="tonesR">Analytical, Confidence, Tentativeness</h3>
          <h2 class="tonesB">Social tone: </h2><h3 class="tonesR">Openness, Conscientiousness, Extraversion, Agreeableness, Emotional Range</h3>
      </div>
    </div>

    <div class="container">
      {{ savedInput }}
         <div id="d3Display"></div>
    </div>

  <section>
      <div ng-if="showResults" class="ng-cloak">
        <div class = "userData"  id="profile">
          <br><br>
          <div>
            <img ng-src="{{ userData.imageUrl }}" alt="Macaque in the trees" border="2" alt="Null">
        </div>
        <div>Name: {{ userData.name }}</div>
        <div>Handle: @{{ userData.handle }}</div>
        <div>Location: {{ userData.location }}</div>
        <div>Description: {{ userData.description }}</div>
        <div>Followers: {{userData.followers }}</div>
        </div>
      </div>
    </section>
</div>
