@import "variables.scss";


body {
    position: relative;
    overflow-x: hidden;
    font-family: $main;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}



/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;


    /*padding-top: 70px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: $white;
    background-color: $black;
}
.sidebar-nav li:nth-child(2):before {
    background-color: $marine;
}
.sidebar-nav li:nth-child(3):before {
    background-color: $marine;
}
.sidebar-nav li:nth-child(4):before {
    background-color: $marine;
}
.sidebar-nav li:nth-child(5):before {
    background-color: $marine;
}
.sidebar-nav li:nth-child(6):before {
    background-color: $marine;
}
.sidebar-nav li:nth-child(7):before {
    background-color: $marine;
}
.sidebar-nav li:nth-child(8):before {
    background-color: $marine;
}
.sidebar-nav li:nth-child(9):before {
    background-color: $marine;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
    font-family: $brand;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}


.logo {
  padding-top: 10px;
   text-align: center;
}

.account {
  padding-top:20px;
}
.accountbtn, .accountbtn:link {
  float: right;
  color: $white;
  background: transparent;
  font-family: $brand;
  border-color: $white;
  border-width: 5px;
  border-radius: 10px;
}

.accountbtn:hover, .accountbtn:active, .accountbtn:visited, .accountbtn:focus {
  background-color: $white;
  color: $marine;
}

h1 {
  font-family: 'Baloo', cursive;
}
.bot {
  width: 125px;
}
.topbar {
  background-color: $marine;
  padding-bottom: 10px;
}
body.home {
  background: url(../../img/small-bot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body.default {
  background: none;
}
h1.brand {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 60px;
  // text-align: center;
}
.mainarch {
  padding-top:10px;
  margin: 20px;
  width: 320px;
  height: 350px;
  // border-style: solid;
  border-radius: 15px;
  background-color: $marine_lite;
}
img.arch {
  margin-bottom: 15px;
  border-style: solid;
  border-width: medium;
  border-color: white;
  box-shadow: 10px 10px 2px $marine;
}
a.arch {
  font-size: 20px;
  text-decoration: none;
}
h5.arch {
  font-size: 16px;
}
.display {
  padding-bottom: 20px;
}

.centered {
  margin-top: 20px;
}
.handle {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(87,188,144, .3);
  width: 60%;
  border-radius: 15px;
  padding-bottom: 15px;
}
.textTweet {
  font-size: 30px;
  margin-top: 20px;
}
.inputTweet {
  text-align: center;
  font-size: 25px;
  padding: 15px;
  font-family: georgia, serif;
  font-style: italic;
}
.buttonTweet {
  margin-bottom: 20px;
}
.bootup {
  padding-left: 10%;
}
.submit {
  background-color: $marine;
  color: white;
  font-weight: bold;
}
.bar_Anger {
  fill: #57DDEF;
}

.bar_Disgust {
  fill: #4A5556;
}

.bar_Fear {
  fill: #76A6FF;
}

.bar_Joy {
  fill: #C48C8C;
}

.bar_Sadness {
  fill: #EF57A3;
}

.bar_Analytical {
  fill: #6A6B6E;
}

.bar_Confident {
  fill: #DBBEB2;
}

.bar_Tentative {
  fill: #FF8976;
}

.bar_Openness {
  fill: #D2BEE2;
}

.bar_Conscientiousness {
  fill: #494949;
}

.bar_Extraversion {
  fill: #B7B6B3;
}

.bar_Agreeableness {
  fill: #E2D4BE;
}

.bar_Range {
}
