$feather: #77C9D4;
$marine: #57BC90;
$forest: #015249;
$sleek_grey: #A5A5AF;
$marine_lite: rgba(87,188,144, .3);
$light_grey: #eee;

$black: #1a1a1a;
$white: #fff;

$brand: "Baloo", cursive;
$main: 'Source Sans Pro', sans-serif;
$tweet_font: 'Cabin', sans-serif;
